<!DOCTYPE html>
<html lang="en-CA">

<!-- Master template from which other templates are built from -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="dunnesquared">
  <meta name="description" content="A Flask-based web application that extracts sentences from 
  a text and counts the number of words in each sentence, as best as possible.">

  <title>Sentence Cow: sentence extractor and word counter</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Favicon -->
        <!-- Source: Twemoji project via favicon.io: https://favicon.io/emoji-favicons/cow -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="180x180" 
              href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
</head>

<body>
  {% block content %}
  <!-- Content from input templates will go here -->
  {% endblock %}
</body>

</html>
