body{
  /*font-family: "Helvetica Neue", "Arial", "sans-serif";*/
  background-color: rgb(255,240,210)
}

textarea{
  resize: none;
}

/*
pre{
  display: inline;
}
*/
#problem{
  border: 5px solid black;
  border-radius: 20px;
  background-color: beige;
  width: 400px;
  padding: 10px 20px;
  color: black;
  text-align: center;
}

.title{
  text-decoration: underline;
}

.error{
  color: red;
  text-transform: uppercase;
}

.description{
  font-style: italic;
}


.answer{
  font-size: 20px;
  font-weight: bold;
}

.textbox{
  width: 200px;
  height: 300px;
}

.button{
  background-color: beige;
  border: 2px solid black;
  border-radius: 20px;
  color: black;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  font-family: "Helvetica Neue";
}
