/*****************************form.html************************************/

body{
  /*font-family: "Helvetica Neue", "Arial", "sans-serif";*/
  background-color: rgb(255,240,210);
}

h1{
  width: 90%;
}

pre{
  display: inline;
  white-space: pre-wrap;
  font-family: "Helvetica Neue", "Arial", "sans-serif";
}

.highlight{
  background-color: yellow;
}

.bold{
  font-weight: 900;
}

textarea[name=input_text]{
  resize: none;
  height: 15em; /* Each em = 1 char-size; equiv to 15 rows*/
  width: 90%; /* Take only 90% width of screen*/
  outline: none;
  /*font-family: "Helvetica Neue", "Arial", "sans-serif";*/
  font-family: "Times New Roman", Times, serif;
  font-size: 0.95em;
}

pre.error{
  color: red;
  font-weight: 900;
  font-size: 1.5em;
}

select{
  width: 90%;
}

p{
  width:90%;
}

p.over{
  color: red;
}

#count_table{
  font-size: 0.8em;
}

tr{
  height: 1.5em;
}

#char-count{
  text-align: right;
  padding-left: 0.5em;
}

#word-count{
  text-align: right;
  padding-left: 0.5em;
}

#charcount-over{
  text-align: left;
  color: crimson;
  font-weight: 900;
}

#wordcount-over{
  text-align: left;
  color: crimson;
  font-weight: 900;
}

#maxboxtitle{
  margin-top: 0.85em;
  font-weight: 900;
}

#button-container{
  margin-top: 1.5em;
}

/*****************************Results.html************************************/

#sent-table{
 border: 1px solid black;
 width: 90%;
 border-collapse: collapse;
}

#sent-table th{
  border: 1px solid black;
  text-align: center;
}

#sent-table td{
  border: 1px solid black;
}

.cell {
  text-align: center;
  padding: 0.2em;
}

.cell-content{
  padding: 0.2em;
  padding-left: 0.5em;
}

.result-count{
  font-size: 0.8em;
}

textarea[name=split_textarea]{
  resize: none;
  height: 5em; /* Each em = 1 char-size; equiv to 15 rows*/
  width: 90%; /* Take only 90% width of screen*/
  outline: none;
  /*font-family: "Helvetica Neue", "Arial", "sans-serif";*/
  font-family: "Times New Roman", Times, serif;
  font-size: 0.95em;
  cursor: pointer;
}

#output_area{
  font-family: "Courier New", Courier, monospace;
}

.warning{
  color: crimson;
}
