body{
  /*font-family: "Helvetica Neue", "Arial", "sans-serif";*/
  background-color: rgb(255,240,210);
}

pre{
  display: inline;
  white-space: pre-wrap;
}

pre.highlight{
  background-color: yellow;
  font-weight: 900;
}

textarea[name=input_text]{
  resize: none;
  height: 15em; /* Each em = 1 char-size; equiv to 15 rows*/
  width: 95%; /* Take only 95% width of screen*/
}

pre.error{
  color: red;
  font-weight: 900;
  font-size: 1.5em;
}

select[name=index]{
  width: 95%
}
