{% extends "layout.html" %}

{% block content %}

  <h1>Welcome to LeGuinn Word-Counter!</h1>

  <h2>Text:</h2>

  <form id="lgcform" action="/leguinncounter" method="POST">

    <!-- Display message if input text over word count -->
    {% if is_over == True %}
      <textarea
      name="input_text"
      placeholder="Write your story here..."
      onfocus= "this.placeholder =''"
      wrap="soft"
      oninput="refresh();">{{ input_text }}</textarea>

      <p class="over"> {{ msg }} </p>
    {% else %}
      <textarea name="input_text"
       placeholder="Write your story here..."
       onfocus= "this.placeholder =''"
      wrap="soft" oninput="refresh();"></textarea>
    {% endif %}


    <p>Word Count: <span id='word-count'>0</span> </p>

    <h2>Word Max:</h2>

    <div>
      <input name="max" type="number" min=1 max=1000 value="7" oninput="enableSubmit();"></input>
    </div>

    <!--For testing purposes
    <div><input name="max"></input></div>
    -->

     <br>

     <div>
      <input id='count' name='submit_button' type="Submit", value="Count" disabled></input>
      <button id='reset_button' type="button" value="Reset" onclick="resetAll();">Reset</button>
    </div>



  </form>

  <!--To display exceptions-->
  <pre class='error'></pre>

  <script type="text/javascript" src="{{ url_for('static', filename='count.js') }}"></script>


{% endblock %}
