{% extends "layout.html" %}

{% block content %}

  <h1>Welcome to Le Guin Sentence Word Counter!</h1>

  <p>This program extracts sentences from a text and counts the number of words
    in each sentence, <i>as best as possible.</i> Any string of alphanumeric
    characters that ends with a terminating punctuation mark such as . ! ? and
    the like is considered to be a sentence.</p>

  <p>Your text should be {{max}} words or less; {{char_max}} characters
     or less. I designed the program to parse texts written in English, but
     you're free to try texts written in other languages. </p>

   <p>In the boxes below, write or paste a short text
     and set the maximum number of words that should appear in each sentence.
     Click 'Count' to see how your sentences measure up!</p>


    <form id="lgcform" action="/leguincounter" method="POST">

      <div>

        <!-- Display message if input text over word count; user should
          see text if it's over. This is not expected to happen, but will
          if Javascript breaks or is turned off.-->
        {% if is_over == True %}
          <textarea
            name="input_text"
            placeholder="Write your text here..."
            wrap="soft"
            data-charmax="{{char_max}}">{{ input_text }}</textarea>

        <!-- Error -->
        <p class="over"> {{ msg }} </p>

      {% else %}
        <textarea
         name="input_text"
         placeholder="Write your text here..."
         wrap="soft"
         data-charmax="{{char_max}}"></textarea>
      {% endif %}

      <!--Word and chatacter count table-->
      <table id='count_table'>
        <tr>
            <td>Word Count:</td>
            <td id='word-count'>0</td>
            <td id='wordcount-over'></td>
        </tr>

        <tr>
          <td>Character Count:</td>
          <td id='char-count'>0</td>
          <td id='charcount-over'></td>
        </tr>

      </table>

      <!--<p id="wcTitle">Word Count (Max. {{max}}):  <span id='word-count'>0</span> </p>-->
      </div>

    <div id='maxboxtitle'>Max Number of Words per Sentence:</div>
      <input name="max"
       type="number"
       min=1
       max="{{max}}"
       value="7"></input>

     <div id="button-container">
      <input id='count' name='submit_button' type="Submit", value="Count" disabled></input>
      <button id='reset_button' type="button" value="Reset">Reset</button>
    </div>

  </form>

  <!--To display exceptions-->
  <pre class='error'></pre>

  <script type="text/javascript" src="{{ url_for('static', filename='count.js') }}"></script>

{% endblock %}
