/* ****************************all*********************************** */

body{
  /*font-family: "Helvetica Neue", "Arial", "sans-serif";*/
  background-color: rgb(255,240,210);
}

h1{
  width: 90%;
}

pre{
  /* Do not set display to inline-block: it will cause unwanted spacing in
     parsed text.
  */
  display: inline;
  font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
  white-space: pre-wrap;
}

select{
  width: 90%;
}

p{
  width:90%;
}

tr{
  height: 1.5em;
}

/* ****************************form.html*********************************** */
#count_table{
  font-size: 0.8em;
}

#char-count{
  padding-left: 0.5em;
  text-align: right;
}

#word-count{
  padding-left: 0.5em;
  text-align: right;
}

#charcount-over{
  color: crimson;
  font-weight: 900;
  text-align: left;
}

#wordcount-over{
  color: crimson;
  font-weight: 900;
  text-align: left;
}

#maxboxtitle{
  font-weight: 900;
  margin-top: 0.85em;
}

#button-container{
  margin-top: 1.5em;
}

#note{
  margin-top: 2em;
}

textarea[name=input_text]{
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.95em;
  height: 15em; /* Each em = 1 char-size; equiv to 15 rows */
  outline: none;
  resize: none;
  width: 90%; /* Take only 90% width of screen */
}

.error{
  color: red;
  font-weight: 900;
  font-size: 1.5em;
}

.over{
  color: red;
}

/* ****************************Results.html********************************** */

#sent-table{
 border: 1px solid black;
 border-collapse: collapse;
 width: 90%;
}

#sent-table th{
  border: 1px solid black;
  text-align: center;
}

#sent-table td{
  border: 1px solid black;
}

#output_area{
  font-family: 'Courier New', Courier, monospace;
}

textarea[name=split_textarea]{
  cursor: pointer; /* Better metaphor than caret to pick where to split text. */
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.95em;
  height: 5em; /* Each em = 1 char-size; equiv to 15 rows */
  outline: none;
  width: 90%; /* Take only 90% width of screen */
  resize: none;
}

.bold{
  font-weight: 900;
}

.highlight{
  background-color: yellow;
}

.cell {
  padding: 0.2em;
  text-align: center;
}

.cell-content{
  padding: 0.2em;
  padding-left: 0.5em;
}

.result-count{
  font-size: 0.8em;
}

.warning{
  color: crimson;
}
